*{
  box-sizing: border-box;
  outline: 1px solid rgba(255, 0, 0, .1)
}

body {
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: 'Source Sans Pro',sans-serif;
}

.el--hidden{
  display: none;
}

.terms {
  font-family: 'Source Sans Pro',sans-serif;
  margin: 70px;
  padding: 20px;
}

.terms h3{
  text-align: left;
  color:#000000;
}

.navbar {
  font-family: 'Source Sans Pro', serif;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  background: #222;
  text-align: left;
}

.static-navbar,
.dinamic-navbar {
  display: flex;
  align-items: center;
}

.static-navbar {
  padding: 10px;
  border-left: 2px;
  border-color: #f7f4f4;
}

.dinamic-navbar{
  padding: 10px;
}

.dinamic-navbar a {
  padding: 15px;
  color: #2196F3;
  text-decoration: none;
  margin-left: 13px;
}

.static-navbar a{
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  margin-left: 13px;
}

.navbar i{
  background-color: #FFC107;
  color: #000000;
  font-size: 35px;
  padding: 25px;
  margin-left: 10px
}

.navbar-vertical-div {
  height: 25px;
  border-right: 1px solid #ffffff;
}

.img-landing {
  padding: 10px;
  background-image: url("./images/landing-splash-bg.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-bedroom{
  padding: 10px;
  background-image: url("./images/category-bedroom.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-desks{
  padding: 10px;
  background-image: url("./images/category-desks.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-miscellaneous{
  padding: 10px;
  background-image: url("./images/category-miscellaneous.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-seating{
  padding: 10px;
  background-image: url("./images/category-seating.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-storage{
  padding: 10px;
  background-image: url("./images/category-storage.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.img-tables{
  padding: 10px;
  background-image: url("./images/category-tables.png");
  background-size: cover;
  background-position: center center;
  min-height: 45vh;
}

.home-pages{
  padding: 15px;
}

.home-pages h1,h3 {
  text-align:center;
  color: #ecf0f1;
}

.home-pages h1{
  padding-top: 55px;
  font-family: 'Source Sans Pro', serif;
}

.home-page-text h2{
  color: #000000;
  text-align: left;
  font-family: 'Playfair Display' serif;
}

.home-page-text p{
  color: #999999;
  font-weight: bold;
  text-align: left;
}

.all-products {
  padding: 30px;
}

.all-products h3{
  text-align: left;
}

.all-products h4{
  color:#999999;
}

.furnitureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.product-id {
  width: 33%;
  border-color: #999999;
  border-style:solid;
  border-width: thin;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.product-id img{
  width: 100%;
}

.product-id h3{
  font-size: 17px;
  width: 100%;
  color: #000000;
  text-align: left;
}

.product-id p{
  color: #999999;
  font-weight: bold;
}

.browser-categories h4{
  color: #999999;
}

.furniture-display{
  text-align: right;
  font-family: 'Playfair Display' serif;
  font-weight: bold;
}

.btn-for-filter{
  color: #F44336;
  width: 100px;
  padding: 10px;
  border-color: #F44336;
  border-width: thin;
  border-style: solid;
}

.btn-for-filter--selected{
  color: #999999;
  margin: 10px;
  padding: 10px;
  border-color: #999999;
  border-width: thin;
  border-style: solid;
}


.on-sale {
   color: #999999;
   border-color: #999999;
   padding: 15px;
   text-decoration: none;
   border-width: thick;
}

.furniture-count p{
  color: #999999;
  text-align: right;
  font-weight: bold;
}

.item-count{
  color: #FFC107;
  margin-right: 8px;
}

.text-info h3{
  text-align: left;
  color: #000000;
}

.product-container{
  display:flex;
  flex-wrap: wrap;
  border-color: #999999;
  border: 5px 5px 5px 5px;
}

.img{
  display: flex;
  width: 70%;
  margin-right: -70px;
  margin-bottom: 5px;
}

.info-container{
  width: 30%;
  text-align: right;
  font-weight: bold;
}

.product-info{
  display: flex;
  flex-wrap: wrap;
  text-align:left;
}

.condition,
.measurements,
button{
  width: 33%;
}



.condition,
.measurements{
  color: #999999;
  font-size: 18px;
}

.condition p{
  text-transform: capitalize;
}

.measurements p{
  display: inline-flex;
  align-content: space-around;
  padding: 3px;
}

.measurements h4{
  margin-bottom: 5px;
}

.product-container button{
  background: #F44336;
  color: #f9f7f7;
  width: 115px;
  height: 35px;
  margin-top: 30px;
  margin-left: 14px;
  border-radius: 50px;
}


.footer{
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.footer img{
  display:flex;
  width: 100%;
  padding: 320px;
  padding-top:30px;
  padding-bottom:30px;
}

.footer h3{
  margin-left: 40px;
  color: #F44336;
  margin-left: auto;
}

.company-footer a {
  display: flex;
  width: 33%;
  margin-left: 0;
  padding:5px;
  text-decoration: none;
}

.categories-footer a{
  display: flex;
  width: 33%;
  padding:5px;
  text-decoration: none;
  margin-left: 0;
}

.social-footer {
  padding:5px;
  text-decoration: none;
  margin-left: 0;
}

.social-footer i{
  padding: 5px;
  font-size: 20px;
  color: #000000;
}

.container-cat-btn-links{
  display: flex;
  justify-content: center;
}

.btn-cat-link{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  border: dodgerblue 1px solid;
  padding: 8px 16px;
  text-decoration: none;
  color: dodgerblue;
  margin: 12px;
  justify-content: center;
  max-width: 150px;


}
